//-------------------------------------------
// _z-index.scss
//-------------------------------------------

$layerFirst: 10;
$layerSecond: 20;
$layerThree: 30;
$layerFourth: 40;
$layerFifth: 50;
$layerTop: 9999;
