html {
  box-sizing: border-box;
  font-size: 62.5%;
}

* {
  box-sizing: inherit;

  &::before, &::after {
    box-sizing: inherit;
  }
}

body {
  margin: 0 auto;
  padding: 0;
  background: $colourWhite;
}
